<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail m-service-item">
            <img src="img/icons/santech.png" alt="Сантехнические работы">
            <div class="caption">
                <h3>Сантехнические работы</h3>
                <p>
                    Установка, ремонт и замена моек, раковин, унитазов, ванн, душевых кабин.  Разводка труб водоснабжения и канализации от стояка. Установка и замена счетчиков воды, батарей отопления, труб и стояков водоснабжения, полотенцесушителя. Установка и подключение бытовой техники (стиральная машина, посудомоечная машина), кранов, фильтров к водопроводу.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail m-service-item">
            <img src="img/icons/montaj.png" alt="Монтажные и демонтажные работы">
            <div class="caption">
                <h3>Монтажные и демонтажные работы</h3>
                <p>
                    Демонтаж перегородок, стен, труб, перегородки или перекрытия из бетона, деревянных конструкций. Монтаж системы вентиляции, кондиционирования, пожаротушения. Перепланировка. Устройство подиумов, встроенных шкафов и ниш, перегородок и стен из пеноблоков, гипсокартона.                
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail m-service-item">
            <img src="img/icons/elektr.svg" alt="Электротехнические работы">
            <div class="caption">
                <h3>Электротехнические работы</h3>
                <p>
                    Устройство электрощита. Ремонт или замена деталей электрической сети (розетки, выключатели, источники освещения) с изменением их месторасположения, а так же полное проведение новой проводки и коммуникаций с изменением общей схемы. Замена проводки в слаботочных и силовых сетях (телефона, интернета, телевидения). Монтаж и установка заземлений.
                </p>
            </div>
        </div>
    </div>
</div>