<!-- Static navbar -->
<div class="masthead">
    <nav>              
        <ul class="nav nav-justified">
            <li class="active"><a href="#">О компании</a></li>                                             
            <li ><a href="#!/repair">Ремонт и отделка</a></li>                                             
            <li ><a href="#">Услуги</a></li>                                             
            <li ><a href="#">Отзывы</a></li>                                             
            <li ><a href="#">Окна и двери</a></li>                                             
        </ul>                            
    </nav>
</div>
